a {
  color: #fff;
}
a:hover {
  color: #aaa;
}
h1,
h2 {
  border-bottom: 1px solid #444 !important;
}

h1 a {
  text-indent: -10000px;
  display: block;
  height: 0;
}
h1:after {
  display: none;
}

